<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>{{category.name}}</title>

    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{{url_for('categoryList')}}">My Catalog</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link" href="{{url_for('gdisconnect')}}">Logout</a>
        </nav>
    </header>
    <div class='container-fluid'>
            <div class='row'>
                <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                    <ul class="nav nav-pills flex-column">
                        {% for c in categories %}
                            <li class="nav-item">
                            <a class="nav-link" href="{{url_for('category', category_id=c.id)}}">{{c.name}}</a>
                        {% endfor %} 
                    </ul>
                </nav>

                <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.name}}</p>
                            <p class="card-text">{{item.description}}</p>
                            <p class="card-text">{{item.price}}</p>
                            <p class="card-text">{{item.time_created}}</p>
                            <p class="card-text">{{item.time_updated}}</p>
                        </div>
                    </div>
                </main>
            </div>
    </div>
</body>
</html>